body::before{
    display: block;
    content: "";
    height: 20px;
}
@media(min-width:768px){
    .news-input{
        width: 50%;
    }
    #map{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}

    .bg{
        background-color: rgb(243, 104, 104);
    }
.image{

        max-width: 100%;
        height: 400px;
        margin-right: 0;
        padding-right: 0;

}

